/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kanit&display=swap');

/* Resetting broswer default stylesheets */
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  color: #0D050E;
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
}

body {
  /* CREDIT: BBakground code from: https://www.svgbackgrounds.com/ */
  background-color: #200063;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.93'%3E%3Ccircle fill='%23200063' cx='50' cy='0' r='50'/%3E%3Cg fill='%2322076a' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23231071' cx='50' cy='100' r='50'/%3E%3Cg fill='%23251779' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23261e80' cx='50' cy='200' r='50'/%3E%3Cg fill='%23272488' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23282b8f' cx='50' cy='300' r='50'/%3E%3Cg fill='%23283197' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%2329379e' cx='50' cy='400' r='50'/%3E%3Cg fill='%23293da6' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%232843ae' cx='50' cy='500' r='50'/%3E%3Cg fill='%23284ab6' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%232750be' cx='50' cy='600' r='50'/%3E%3Cg fill='%232656c6' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23245cce' cx='50' cy='700' r='50'/%3E%3Cg fill='%232263d6' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%231f69de' cx='50' cy='800' r='50'/%3E%3Cg fill='%231b70e6' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%231576ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%230d7cf7' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%230083FF' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}

body>* {
  display: flex;
  justify-content: center;
}

header {
  text-transform: uppercase;
  font-size: xx-large;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 70px;
  color: #FAFAFA;
  text-align: center;
  -webkit-text-stroke-color: #FAFAFA;
  line-height: 1;
}

h2 {
  text-align: center;
}

#intro {
  margin: auto;
  margin-bottom: 20px;

}

#intro *{
  font-size: xx-large;
  color: #FAFAFA;
  text-align: center;
  font-weight: 600;
  width: 80%;
}

label {
  font-weight: 700;
}

i {
  color: #FAFAFA;
}

#color-table th {
  font-weight: 600;
}

.options-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0 0 2.5%;
}

.options-box {
  background-color: #FAFAFA;
  flex-grow: 1;
  margin: 0 2.5% 20px 0;
  padding: 10px;
  border-radius: 10px;
}

#fullscreen-options-box {
  text-align: center;
}

input, textarea {
  background-color: #FAFAFA;
  border: solid #333 1px;
  padding: 0 5px;
}

textarea {
  width: 99%;
  max-width: 99%;
}

input[type="text"], input[type="number"] {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

input[type="text"] {
  width: 50%;
  max-width: 50%;
}

input[type="color"] {
  padding: 0;
  border: none;
}

#parent-templates-container {
  flex-direction: column;
}

#templates-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.template-container {
  width: 25%;
  min-width: 300px;
  padding: 5px;
  border: 3px solid transparent;
}

.bg-template-container {
  padding: 5px;
  border: 3px solid transparent;
}

.bg-template-size {
  width: 20vw;
  height: 10vw;
}

#bg-custom-0 {
  color: #000000;
  border: 1px solid black;
}

#bg-custom-1 {
  /* CREDIT: BBakground code from: https://www.svgbackgrounds.com/ */
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='400' cy='400' r='50%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230EF'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='400' cy='400' r='70%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%230FF'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='800'/%3E%3Cg fill-opacity='.8'%3E%3Cpath fill='url(%23b)' d='M998.7 439.2c1.7-26.5 1.7-52.7 0.1-78.5L401 399.9c0 0 0-0.1 0-0.1l587.6-116.9c-5.1-25.9-11.9-51.2-20.3-75.8L400.9 399.7c0 0 0-0.1 0-0.1l537.3-265c-11.6-23.5-24.8-46.2-39.3-67.9L400.8 399.5c0 0 0-0.1-0.1-0.1l450.4-395c-17.3-19.7-35.8-38.2-55.5-55.5l-395 450.4c0 0-0.1 0-0.1-0.1L733.4-99c-21.7-14.5-44.4-27.6-68-39.3l-265 537.4c0 0-0.1 0-0.1 0l192.6-567.4c-24.6-8.3-49.9-15.1-75.8-20.2L400.2 399c0 0-0.1 0-0.1 0l39.2-597.7c-26.5-1.7-52.7-1.7-78.5-0.1L399.9 399c0 0-0.1 0-0.1 0L282.9-188.6c-25.9 5.1-51.2 11.9-75.8 20.3l192.6 567.4c0 0-0.1 0-0.1 0l-265-537.3c-23.5 11.6-46.2 24.8-67.9 39.3l332.8 498.1c0 0-0.1 0-0.1 0.1L4.4-51.1C-15.3-33.9-33.8-15.3-51.1 4.4l450.4 395c0 0 0 0.1-0.1 0.1L-99 66.6c-14.5 21.7-27.6 44.4-39.3 68l537.4 265c0 0 0 0.1 0 0.1l-567.4-192.6c-8.3 24.6-15.1 49.9-20.2 75.8L399 399.8c0 0 0 0.1 0 0.1l-597.7-39.2c-1.7 26.5-1.7 52.7-0.1 78.5L399 400.1c0 0 0 0.1 0 0.1l-587.6 116.9c5.1 25.9 11.9 51.2 20.3 75.8l567.4-192.6c0 0 0 0.1 0 0.1l-537.3 265c11.6 23.5 24.8 46.2 39.3 67.9l498.1-332.8c0 0 0 0.1 0.1 0.1l-450.4 395c17.3 19.7 35.8 38.2 55.5 55.5l395-450.4c0 0 0.1 0 0.1 0.1L66.6 899c21.7 14.5 44.4 27.6 68 39.3l265-537.4c0 0 0.1 0 0.1 0L207.1 968.3c24.6 8.3 49.9 15.1 75.8 20.2L399.8 401c0 0 0.1 0 0.1 0l-39.2 597.7c26.5 1.7 52.7 1.7 78.5 0.1L400.1 401c0 0 0.1 0 0.1 0l116.9 587.6c25.9-5.1 51.2-11.9 75.8-20.3L400.3 400.9c0 0 0.1 0 0.1 0l265 537.3c23.5-11.6 46.2-24.8 67.9-39.3L400.5 400.8c0 0 0.1 0 0.1-0.1l395 450.4c19.7-17.3 38.2-35.8 55.5-55.5l-450.4-395c0 0 0-0.1 0.1-0.1L899 733.4c14.5-21.7 27.6-44.4 39.3-68l-537.4-265c0 0 0-0.1 0-0.1l567.4 192.6c8.3-24.6 15.1-49.9 20.2-75.8L401 400.2c0 0 0-0.1 0-0.1L998.7 439.2z'/%3E%3C/g%3E%3C/svg%3E");
  /*background-attachment: fixed;*/
  /*background-size: auto;*/
  background-size: 20vw;
}

#bg-custom-2 {
  background-color: #ee5522;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d23d09' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 2vw;
}

#bg-custom-3 {
  background-color: #330000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  /*background-attachment: fixed;*/
  background-size: 20vw;
}

#bg-custom-4 {
  background-color: #330055;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  /*background-attachment: fixed;*/
  background-size: 2vw;
}

.template {
  border: 1px solid #333;
  flex-grow: 1;
  padding: 5px;
}

#template1 {
  background-color: #0D050E;
  color: #FAFAFA;
}

#template2 {
  background-color: #6441a5;
  color: #FAFAFA;
}

#template3 {
  background-color: #00FF00;
  color: #FAFAFA;
}

#result-container {
  display: none;
  grid-template-columns: 100%;
  grid-template-rows: 10% 78% 10%;
  column-gap: 10px;
  row-gap: 1%;
}

#result-top {
  display: none;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-content: center;
  text-align: center;
  align-self: center;
  overflow: hidden;
}

#result-mid {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-self: center;
  overflow: hidden;
}

#result-bottom {
  display: none;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-content: center;
  text-align: center;
  align-self: center;
  overflow: hidden;
}

#results-list {
  display: flex;
  flex-direction: column;
  margin: auto
}

#results-list>* {
  flex: 1 1 30%;
}

#gen-title-span {
  line-height: 70%;
  font-size: 5vw;
}

#countdown-generator {
  font-size: 20vw;
  text-align: center;
  margin: auto;
}

#criteria-generator {
  justify-content: center;
  display: none;
}

#gen-criteria-span {
  color: #ffc400;
  font-size: 3vw;
  margin: 0 auto;
  padding: 0 0 20px 0;
  line-height: 120%;
}

#gen-tail-span {
  line-height: 70%;
  font-size: 5vw;
}

button {
  background-color: #711A75;
  /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#btn-load {
  font-size: 30px;
  background-color: #FFC400;
  color: #000000;
  margin-bottom: 20px;
  border: 2px solid #FAFAFA;
}

#btn-load:hover {
  background-color: #FAFAFA;
  color: #711A75;
  border: 2px solid #711A75;
}

#btn-close {
  display: none;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: #FAFAFA;
  border: 2px solid #FAFAFA;
  position: absolute;
  padding: 0;
  bottom: 20px;
  right: 20px;
  text-align: center;
  width: 20px;
  height: 20px;
}

#btn-start {
  display: none;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  color: #FAFAFA;
  border: 2px solid #FAFAFA;
  margin: 0 auto;
}

.box {
  display: block;
  margin: 0;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  transform-origin: center;
  transition-property: background-color, color, margin;
  transition-duration: 3s;
  text-align: center;
}

.show {
  color: rgba(255, 255, 255, 0);
  margin: auto;
  transition-property: color, margin;
  transition-timing-function: ease-in-out;
}

.error-message {
  color: red;
  display: none;
}

.error {
  background-color: rgba(255, 0, 0, 0.486);
  border: solid red 1px;
}

/* Footer */
footer {
  font-weight: 300;
  text-align: center;
  overflow: hidden;
  background-color: #333;
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer * {
  color: azure;
}

footer div {
  padding: 10px 0;
  justify-content: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}

hr {
  margin-top: 10px;
  margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }

  #intro *{
    font-size: 20px;
  }

}