/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Luckiest+Guy&display=swap');
/*
font-family: 'Kanit', sans-serif;
font-family: 'Luckiest Guy', cursive;
*/

/* Colour Pallette
#0D050E
#711A75
#711A75
#F47CA4
#F47CA4
*/

/* Resetting broswer default stylesheets */
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  color: #333;
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
}

body > * {
  display: flex;
  justify-content: center;
}

header {
  text-transform: uppercase;
  font-size:xx-large ;
  letter-spacing: 2px;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
  color: #F10086;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #711A75;
}

#options-container, #templates-container {
  margin: 0 0 30px 0;
}

#options-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 2.5%;
}

.options-box {
  background-color: #F47CA4;
  border: 1px solid #333;
  flex-grow: 1;
  margin: 0 2.5% 0 0;
  padding: 10px;
}

input, textarea {
  background-color: #FAFAFA;
  border: 0;
}

#templates-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 2.5%;
}

.template {
  border: 1px solid #333;
  flex-grow: 1;
  margin: 0 2.5% 0 0;
}

button {
  background-color: #711A75; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#btn-load  {
  font-size: 30px;
  background-color: #711A75; 
  color: #FAFAFA; 
  border: 2px solid #FAFAFA;
}

#btn-load:hover {
  background-color: #FAFAFA;
  color: #711A75;
  border: 2px solid #711A75;
}

/* Footer */
footer {
  font-weight: 300;
  text-align: center;
  overflow: hidden;
  background-color: #333;
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer * {
  color: azure;
}

footer div {
  padding: 10px 0;
  justify-content: center;
}
